<footer class="footer footer-transparent border-top">
    <div class="container">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ml-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="/archive" class="link-secondary">Archive</a></li>
                    <li class="list-inline-item"><a href="/docs" class="link-secondary">Docs</a></li>
                    <li class="list-inline-item"><a href="https://github.com/gkzy/samblog" target="_blank" class="link-secondary">Source code</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                Copyright © <<.year>>
                <a href="https://22v.net" target="_blank" class="link-secondary">SamBlog</a> &&
                <a href="https://tabler.io" target="_blank" class="link-secondary">Tabler</a>
            </div>
            <div class="col-12 col-lg-auto mt-1 mt-lg-0">
                <a href="https://beian.miit.gov.cn/" target="_blank" class="link-secondary">蜀ICP备13001977号-5</a>
            </div>
        </div>
    </div>
</footer>
<script src="/static/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js?v=<<.ver>>"></script>
<script src="/static/dist/js/tabler.min.js?v=<<.ver>>"></script>
<script src="/static/prism/prism.js?v=<<.ver>>"></script>
<script src="https://cdn.staticfile.org/vue/2.6.11/vue.js"></script>
<script src="/static/js/mint-ui.js?v=<<.ver>>"></script>
</body>
</html>