<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <link href="/static/dist/css/tabler.min.css?v=<<.ver>>" rel="stylesheet"/>
    <link href="/static/dist/css/demo.css?v=<<.ver>>" rel="stylesheet"/>
    <link href="/static/css/markdown.css?v=<<.ver>>" rel="stylesheet"/>
    <style>
        body {
            display: none;
        }
    </style>