<!doctype html>
<html lang="en">
<head>
    <title>文档归档</title>
    <meta name="keywords" content="samblog" />
    <meta name="description" content="" />
    <<template "_header.html" .>>
</head>
<body class="antialiased">
<div class="page">
    <<template "_nav.html" .>>
    <<template "_menus.html" .>>
    <div class="content">
        <div class="container-xl">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <ol class="breadcrumb breadcrumb-alternate" aria-label="breadcrumbs">
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item active">文章归档</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width:200px;">月份</th>
                                        <th>文章数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="#">2202009</a></td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    <tr>
                                        <td>2202009</td>
                                        <td class="text-muted">102</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>
<<template "_footer.html" .>>
