<!doctype html>
<html lang="en">
<head>
    <title>创作者</title>
    <meta name="keywords" content="samblog" />
    <meta name="description" content="" />
    <<template "_header.html" .>>
</head>
<body class="antialiased">
<div class="page">
    <<template "_nav.html" .>>
    <<template "_menus.html" .>>
    <div class="content">
        <div class="container-xl">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <ol class="breadcrumb breadcrumb-alternate" aria-label="breadcrumbs">
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item active">创作者</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">创作者</h3>
                        </div>
                        <div class="list list-row list-hoverable">
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar avatar-md" style="background-image: url(./static/avatars/000m.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Paweł Kuna</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Change deprecated html tags to text decoration classes (#29604)</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md">JL</span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Jeffie Lewzey</a>
                                    <small class="d-block text-muted text-truncate mt-n1">justify-content:between ⇒ justify-content:space-between (#29734)</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md" style="background-image: url(./static/avatars/002m.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Mallory Hulme</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Update change-version.js (#29736)</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md" style="background-image: url(./static/avatars/003m.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Dunn Slane</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Regenerate package-lock.json (#29730)</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md" style="background-image: url(./static/avatars/000f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Emmy Levet</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Some minor text tweaks</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar avatar-md" style="background-image: url(./static/avatars/001f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Maryjo Lebarree</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Link to versioned docs</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md">EP</span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Egan Poetz</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Copywriting edits</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md" style="background-image: url(./static/avatars/002f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Kellie Skingley</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Enable RFS for font resizing</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar avatar-md" style="background-image: url(./static/avatars/001f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Maryjo Lebarree</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Link to versioned docs</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md">EP</span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Egan Poetz</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Copywriting edits</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md" style="background-image: url(./static/avatars/002f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Kellie Skingley</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Enable RFS for font resizing</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md">EP</span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Egan Poetz</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Copywriting edits</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md" style="background-image: url(./static/avatars/002f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Kellie Skingley</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Enable RFS for font resizing</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar avatar-md" style="background-image: url(./static/avatars/001f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Maryjo Lebarree</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Link to versioned docs</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md">EP</span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Egan Poetz</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Copywriting edits</small>
                                </div>
                            </div>
                            <div class="list-item">
                                <a href="#">
                                    <span class="avatar  avatar-md" style="background-image: url(./static/avatars/002f.jpg)"></span>
                                </a>
                                <div class="text-truncate">
                                    <a href="#" class="text-body d-block">Kellie Skingley</a>
                                    <small class="d-block text-muted text-truncate mt-n1">Enable RFS for font resizing</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <<template "_footer.html" .>>
